$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;
$red: #f00;
$green: #008000;
$blue: #00f;
$sky-blue: #87ceeb;
$white: #fff;
$light-green: #90ee90; // Hides Default Address Table

#address {
  display: none;
}

#map {
  border: 10px solid $blue;
  border-radius: 10px;
  height: 50%;
  margin-left: 25%;
  width: 50%;
}

body,
html {
  background: linear-gradient(to right, $sky-blue, $white, $light-green);
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn {
  background: $sky-blue;
  border: 2px solid $black;
  color: $red;
}

.dropdown-menu {
  background: $sky-blue;

  .auth {
    background: $sky-blue;

    input {
      background: $sky-blue;
    }
  }
}

.sign-out {
  margin-top: 1%;
}

.failure {
  color: $red;
}

.success {
  color: $green;
}

.log-fail {
  color: $red;
}

.log {
  color: $green;
}

.number {
  color: $green;
}

thead {
  max-width: 50px;
  word-wrap: break-word;
}

th {
  max-width: 50px;
  word-wrap: break-word;
}

td {
  max-width: 50px;
  word-wrap: break-word;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  background-color: #4d90fe;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
